/* Woop-woop! That's the sound of da police!  */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@font-face {
    font-family: 'MyWebFont';
    src:url('media/Western Bang Bang.woff') format('woff');
  }
  

body{
   
    background-image: url('media/background.jpg');
}

*, *:before, *:after {
    box-sizing: inherit;
    touch-action: manipulation;
  }

.header
{
    border-image-repeat: repeat;
    height: 30px;
}

.headerpic{
  position: relative;
  flex-basis: auto;
   
}

.headerlogo
{
    position: absolute;
    margin: 10px 0 0 80px;
    top: -8px;
    bottom: auto;
    
}

.hpic{
    max-width:100%;  
    max-height:100%;
}

.hlogo{
    
    max-width:70%;  
    max-height:70%;
   
}
.Nav {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    border-style: solid;
    line-height: 70px;
    border-width: 0 0 6px;
    border-color: #2e2e2e;
    max-width: 1420px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    z-index: 3;
    list-style-type: disc;
 }

   
.Nav li{
   

    font-family: 'Rye', cursive;

    font-size: 1.7em;
    color:#2e2e2e; 
    
   }

.Navigation{
   

    padding-top: 100px;
    padding-bottom: 100px;
    background-origin: padding-box;
  
}

a:link {
    color:#2e2e2e;
    text-decoration: none;

  }

  a:hover{
      color:red;
  }

/* header */
h2 {
    font-family: 'Rye', cursive;
    font-size: 4em;
    color: #2e2e2e;
    text-align: center;
}
h3
{
    font-family: 'MyWebFont', Fallback, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color:#2e2e2e;
}
.guns
{
      
        display: flex;
        flex-wrap: wrap;
        border-image-source: url(media/single_3.png);
        border-image-repeat: repeat;
        border-image-slice: 14;
        border-style: solid;
        border-width: 6px 0 0;
        margin-top: -12px;
        padding-top: 15px;
        text-align: center;
       
}
.guns>* {
    flex: 1 1 400px;
}

.gun {
       
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 12;
    border-style: solid;
    border-width: 0 6px 0 6px;
    
       
    }

.gunpic{
    
    margin: 0 auto;
    max-height: 150px;
    max-width: 100%;
}
.clothing{
    display: flex;
    flex-wrap: wrap;
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 14;
    border-style: solid;
    border-width: 6px 0 0;
    margin-top: -12px;
    padding-top: 15px;
    text-align: center;
}
.clothing>* {
    flex: 1 1 400px;
}
.outfit{
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 12;
    border-style: solid;
    border-width: 0 6px 0 6px;
}
.clothes{
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
}

.hats{
    display: flex;
    flex-wrap: wrap;
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 14;
    border-style: solid;
    border-width: 6px 0 0;
    margin-top: -12px;
    padding-top: 15px;
    text-align: center;

}
.hats>* {
    flex: 1 1 400px;
}
.hat {
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 12;
    border-style: solid;
    border-width: 0 6px 0 6px;
}

.tonics{
    display: flex;
    flex-wrap: wrap;
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 14;
    border-style: solid;
    border-width: 6px 0 0;
    margin-top: -12px;
    padding-top: 15px;
    text-align: center;
}
.tonics>* {
    flex: 1 1 500px;
}
.tonic{
    border-image-source: url(media/single_3.png);
    border-image-repeat: repeat;
    border-image-slice: 12;
    border-style: solid;
    border-width: 0 6px 0 6px;
}
.tonpic{
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
}
.retour{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.saloon{
    margin-top: -8em;
    max-height: 300px;
    max-width: 100%;
}



@media only screen and (max-width: 865px) {

.Nav li{
   

    font-family: 'Rye', cursive;
    font-size: 1em;
    color:#2e2e2e; 
    
   }
}
@media only screen and (max-width: 950px) {
.hlogo{
    
    max-width:40%;  
    max-height:40%;
   
}
}